.noise{
    background: transparent url(noise-50.png) repeat center center !important;
    opacity: 0.7;
}
.noise1{
    background: transparent url(noise-50.png) repeat center center !important;
}
@font-face {
    font-family: "Cookie";
    src: url(./New_Amsterdam/NewAmsterdam-Regular.ttf);
}
@font-face {
  font-family: "Date";
  src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
.conference-background-1 {
    background: 
      linear-gradient(0deg, rgba(0, 102, 102, 0.9) 40%, transparent),
      linear-gradient(180deg, rgba(0, 0, 0, 1) 30%, transparent);
    backdrop-filter: blur(10px);
  }
  .conference-background-2 {
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, transparent),
    linear-gradient(180deg, rgb(19,91,86,1) 50%, transparent);
    backdrop-filter: blur(20px);
  }
  .conference-background-3 {
    background: 
    linear-gradient(180deg, rgb(0,0,0,1) 60%, transparent),
    linear-gradient(360deg, rgb(19,91,86,1) 30%, transparent);
    backdrop-filter: blur(10px);
  }
  .conference-background-4 {
    background: 
    linear-gradient(180deg, rgb(0,0,0,1) 60%, transparent),
    linear-gradient(360deg, rgb(42,87,114,1) 30%, transparent);
    backdrop-filter: blur(10px);
  }
  .fancy-divider {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1px 0;
    background-color: black;
  }
  
  .fancy-divider::before,
  .fancy-divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: white;
  }
  
  .fancy-divider span {
    padding: 0 20px;
    font-size: 20px;
    overflow: visible;
    background-color: black;
    color: white;
  }
.SponsorReg{
  position: relative;

  h1{
    position: relative;
  }
}
.SponsorReg::before{
  content: '';
  right: 0;
  background-color: #A6CFD5;
  position: absolute;
  height: 100%;
  top: 0;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.SponsorReg:hover::before{
  left: 0;
  width: 100%;
}
